$n1: 400;
$n2: 500;
$n3: 200;

body {
  font-family: "Circular";
  font-weight: $n3;
}

#dinamicList {
  height: 69vh;
  overflow: auto;
  ul {
    list-style-type: none;
    font-weight: 400;
    color: rgb(116, 116, 116);
  }
}
#left-sidebar,
#right-sidebar {
  background-color: #000000;
}
.gradient-dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3085609243697479) 0%, rgb(29, 29, 29) 33%, rgb(20, 20, 20) 72%);
}
#backgroundAlbum {
  background: rgb(255, 204, 35);
  background: linear-gradient(180deg, rgba(255, 204, 35, 1) 4%, rgba(41, 40, 40, 1) 60%);
  height: 100vh;
  overflow: scroll;
}

#mainScrollbar {
  height: 100vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 0.637);
}
#selectionTitleAlbumPage:hover {
  background-color: rgb(63, 63, 63);
  cursor: pointer;
}
li span,
#pointer svg:hover {
  cursor: pointer;
}

#backgroundIndexArtist {
  background: rgb(41, 40, 40);
  background: linear-gradient(180deg, rgba(41, 40, 40, 1) 0%, rgba(0, 0, 0, 1) 56%);
  height: 100vh;
  overflow: scroll;
}
#background {
  background-position: center;
}
