$n1: 400;
$n2: 500;
$n3: 200;

body {
  font-family: "Circular";
  font-weight: $n3;
}
#dinamicList {
  height: 50vh;
  overflow: auto;
}

.gradient-dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3085609243697479) 0%, rgb(29, 29, 29) 33%, rgb(20, 20, 20) 72%);
}
#backgroundAlbum {
  background: rgb(255, 204, 35);
  background: linear-gradient(180deg, rgba(255, 204, 35, 1) 4%, rgba(41, 40, 40, 1) 70%);
}

#stickyelement {
  position: sticky;
  top: 20px;
}
